{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Redactors list {% endblock %}

{% block content %}

    <br><br><br><br>

<br>
<div class="container">

   <br><br>
  <div class="card card-body blur shadow-blur mx-3 mx-lg-4 mt-n1"  >
            <section class="my-4 py-4" >

              <a style="float:right" href="{% url 'newspaper_agency:index' %}" class="btn btn-secondary link-to-page">
      back to home page
    </a>
   <h1>
      Newspaper List
      <a href="{% url 'newspaper_agency:newspaper-create' %}" class="btn btn-primary link-to-page">
        Add Newspaper
      </a>
    </h1>
            </section>
<form method="get" action="" class="form-control" >
  {{ search_form|crispy }}
  <input class="btn btn-secondary" type="submit" value="🔎 lets find 🐈">
</form>

              <br>


<br>
    {% if newspaper_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Topic</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    {% for news in newspaper_list %}
      <tr>
        <td>{{ news.id }}</td>
        <td><a href="{% url 'newspaper_agency:newspaper-detail' pk=news.id %} "><strong>{{ news.title }}</strong></a> </td>
        <td><a href="{% url 'newspaper_agency:topic-detail' pk=news.id %} "><strong>{{ news.topic }}</strong></a> </td>
        <td><a href="{% url 'newspaper_agency:newspaper-update' pk=news.id %}">Update</a></td>
        <td><a style="color: red" href="{% url 'newspaper_agency:newspaper-delete' pk=news.id %}">Delete</a></td>

      </tr>
    {% endfor %}


    </table>
    {% else %}
      <p>There are no newspaper in the service.</p>
    {% endif %}

            {% block pagination %}
                {% include "includes/pagination.html" %}
            {% endblock %}
  </div>

</div>



 {% endblock %}
