{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}

{% block title %}{{ object|yesno:"Update,Create" }} topic {% endblock %}

{% block content %}
<br><br><br>
<div class="container">
  <div class="card card-body" >
    <div class="container">
  <h1>{{ object|yesno:"Update,Create" }} topic</h1>
    <br>
  <form action="" method="post" novalidate>
    {% csrf_token %}
   <b>{{ form|crispy }} </b>

    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
  </div>
</div>
</div>
</div>
{% endblock %}